@page "/weather"
@inject WeatherForecastService weather

<PageTitle>Weather</PageTitle>

<InputDate @bind-Value="saveDate"></InputDate><br />

<button @onclick="AddForecast" type="button" class="btn btn-primary">Add</button>
<button @onclick="MockForecast" type="button" class="btn btn-primary">Mock</button>


<Virtualize Items="forecasts" Context="forecast">
    <ChildContent>
        <span>ID: @forecast.Id @forecast.Date</span>
        <p>@forecast.Summary</p>
    </ChildContent>
</Virtualize>


@code {
    private List<WeatherForecast> forecasts = new();
    private DateTime saveDate = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await weather.GetForecastsAsync(false);
    }

    private async Task AddForecast()
    {
        var created = await weather.PostForecastAsync(saveDate);
        
        forecasts = await weather.GetForecastsAsync(false);
    }

    private async Task MockForecast()
    {
        forecasts = await weather.GetForecastsAsync(true);
    }
}